n8n-automations/RAG AI Agent_.json
{
  "name": "RAG AI Agent_",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        800,
        192
      ],
      "id": "66ccdd84-36d5-4659-b520-08e3c43b1cc8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant\n##tool\n\"data\" use this tool to retrive information \n\n##important \nyou must use \"data\" before answer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        912,
        368
      ],
      "id": "3e8e08f8-ec83-43ff-b5ff-7643d4cbbffe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to retrive information ",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "useReranker": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        928,
        576
      ],
      "id": "40a90279-d65f-407b-b51e-573eacfaca77",
      "name": "data",
      "credentials": {
        "supabaseApi": {
          "id": "M3fb2Euwdm0RFdum",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        128,
        368
      ],
      "id": "e8ca1318-7f11-4fc3-8ad9-9e1a1cf2533d",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "M3fb2Euwdm0RFdum",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        304,
        736
      ],
      "id": "46418793-9e95-435f-9886-18c08b4b53b0",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -144
      ],
      "id": "36508f8f-55c6-4563-89cf-7aaa54bdad64",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        656,
        368
      ],
      "id": "1d84bd76-3c98-4902-9411-49c17ccdbb69",
      "name": "When chat message received",
      "webhookId": "20b3ada0-b5b1-436c-9fc9-6d6da2e4d948"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        32
      ],
      "id": "b5865af6-72d3-4828-9f5d-046b2c9a8549",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        -64
      ],
      "id": "2c69e1ac-175f-4c79-ad3c-46a27146724e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ZLZRvzeQsE2jS4kAmi2c2gRYSSTWeMWl",
            "mode": "list",
            "cachedResultName": "APPLE",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZLZRvzeQsE2jS4kAmi2c2gRYSSTWeMWl"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -144
      ],
      "id": "7134da3f-e96b-4b9e-894d-b1fdabf4ee4d",
      "name": "search",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rX9iP3tZZOAKcN0R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0",
          "mode": "list",
          "cachedResultName": "suba base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        32
      ],
      "id": "d3b4fa4a-169a-42d3-90cd-bc3e880d1229",
      "name": "GET ROW",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NAeCw560cE8CuBcE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Normalize helper\nconst norm = v =>\n  String(v || \"\").trim().toLowerCase();\n\n// 1️⃣ افصل Drive عن Sheet\nconst driveFiles = [];\nconst sheetRows = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Drive file (جاي من Google Drive)\n  if (d.id && d.name && !d.File_ID) {\n    driveFiles.push(d);\n  }\n\n  // Sheet row (جاي من Google Sheet)\n  if (d.File_ID && d.File_name) {\n    sheetRows.push(d);\n  }\n}\n\n// 2️⃣ اعمل Sets من الشيت\nconst sheetIdSet = new Set(\n  sheetRows.map(r => norm(r.File_ID))\n);\n\nconst sheetNameSet = new Set(\n  sheetRows.map(r => norm(r.File_name))\n);\n\n// 3️⃣ فلترة ملفات Drive\nconst newFiles = driveFiles.filter(f => {\n  const id = norm(f.id);\n  const name = norm(f.name);\n\n  // لو الاسم + الـ ID موجودين في الشيت → متخزن\n  if (sheetIdSet.has(id) && sheetNameSet.has(name)) {\n    return false;\n  }\n\n  return true;\n});\n\n// ❌ لو مفيش جديد\nif (newFiles.length === 0) {\n  return [];\n}\n\n// ✅ Output\nreturn newFiles.map(f => ({\n  json: {\n    file_id: f.id,\n    file_name: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -64
      ],
      "id": "ca3242fe-d5ae-42f1-8e01-405121963084",
      "name": "CODE"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0",
          "mode": "list",
          "cachedResultName": "suba base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1du85Lep_q6etYsmzoU6RdjD2s7lPudpuDxnkklrE5-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File_ID": "={{ $json.file_id }}",
            "File_name": "={{ $json.file_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "File_name",
              "displayName": "File_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File_ID",
              "displayName": "File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -64
      ],
      "id": "f67aa94c-3ac6-4049-9d2e-13599f35182a",
      "name": "UPDATE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NAeCw560cE8CuBcE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        -32
      ],
      "id": "3cd053c2-0efe-46b5-b053-345efb356352",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "text",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        96
      ],
      "id": "427961ad-c010-425c-b57d-556a1ebbda1b",
      "name": "DOWNLOAD",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rX9iP3tZZOAKcN0R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        112,
        96
      ],
      "id": "8a3ceeee-f9fd-42f5-b7e8-c3e011b6243c",
      "name": "TEXT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45d021ee-90bf-453a-8dd3-3a3b3ec9374b",
              "name": "file_name",
              "value": "={{ $json.File_name }}",
              "type": "string"
            },
            {
              "id": "ac9e5296-a421-47a6-abd4-83e835794eb8",
              "name": "file_id",
              "value": "={{ $json.File_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        96
      ],
      "id": "9aab3df6-1145-4f0e-8df1-112ae43cf2b0",
      "name": "SET"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        176
      ],
      "id": "64bd2d33-c70f-4d95-9ef8-671a92262291",
      "name": "CHUNKS",
      "credentials": {
        "openAiApi": {
          "id": "CIhPNZ4knEzn2E6u",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        144
      ],
      "id": "64800581-d896-4519-a489-33c528adc614",
      "name": "LOADER"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        -48
      ],
      "id": "2d165e31-f2e6-49f5-bdd6-8bc17fff2217",
      "name": "SUPABASE",
      "credentials": {
        "supabaseApi": {
          "id": "M3fb2Euwdm0RFdum",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6aa1dab-4b03-49ed-aac7-32f7d0fd1c35",
              "name": "file_id",
              "value": "={{ $('DRIVE-UPDATE').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        368
      ],
      "id": "46734c91-2374-4af8-a250-bd3b75030546",
      "name": "SeT"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -768,
        368
      ],
      "id": "a4e15893-a555-4e59-af33-96143cb068c6",
      "name": "DELETE",
      "credentials": {
        "supabaseApi": {
          "id": "M3fb2Euwdm0RFdum",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fuX_eRFoRoJSxW-DQ0D4XkP2Bsp1FrKo",
          "mode": "list",
          "cachedResultName": "file",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fuX_eRFoRoJSxW-DQ0D4XkP2Bsp1FrKo"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        368
      ],
      "id": "2d7de3b6-26d5-4667-94c1-b24c6d6fab71",
      "name": "DRIVE-UPDATE",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rX9iP3tZZOAKcN0R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "text",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        368
      ],
      "id": "8647f3ec-db6e-445e-bd10-1618c9d80b96",
      "name": "DOWNL0AD",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rX9iP3tZZOAKcN0R",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "text",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -112,
        368
      ],
      "id": "9adfd997-111f-4070-9460-da2374aad12b",
      "name": "TEXTT"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        704
      ],
      "id": "e6e960e4-7e2b-4fd2-b43b-f390140050eb",
      "name": "CHUNKs",
      "credentials": {
        "openAiApi": {
          "id": "CIhPNZ4knEzn2E6u",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        736
      ],
      "id": "e1b12dd6-0504-4080-b14d-f839bbb9516a",
      "name": "CHNKSS",
      "credentials": {
        "openAiApi": {
          "id": "CIhPNZ4knEzn2E6u",
          "name": "test"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('SeT').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        592
      ],
      "id": "171efa92-9369-4b25-8f87-59c82e819e63",
      "name": "L0ADER"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        672
      ],
      "id": "a9f20e0e-030b-42d4-ae77-32f88edc03bc",
      "name": "BRAIN",
      "credentials": {
        "openRouterApi": {
          "id": "JdeFo2ZhUWoG4zjk",
          "name": "iiii"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        784,
        688
      ],
      "id": "fddf7c58-dcc1-4e1d-becc-fe8613252431",
      "name": "MEMORY",
      "credentials": {
        "postgres": {
          "id": "LEhnpcmdzV8KR6XI",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "DATA   )",
        "height": 384,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        -176
      ],
      "typeVersion": 1,
      "id": "3efd8a82-89e6-454b-b602-dd24e0a94859",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "INFORMATION   ",
        "height": 336,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -96
      ],
      "typeVersion": 1,
      "id": "cdc47f4c-b208-4b38-9bee-89c1dcc29416",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "ADD DOCUMENTS  ",
        "height": 400,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -80
      ],
      "typeVersion": 1,
      "id": "fdbfd5bb-2324-43fe-b164-3e002806862b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "ANALYZE   ",
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        352
      ],
      "typeVersion": 1,
      "id": "b6567d00-ff19-4a24-bbdf-338d62c6d214",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        352
      ],
      "typeVersion": 1,
      "id": "29458dc2-8712-4963-9abf-24193cce7988",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "CHAT  ",
        "height": 480,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        352
      ],
      "typeVersion": 1,
      "id": "d86eff8e-cfbd-4638-9bd5-095bcd9caf91",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c7755fc-d769-45d2-b96e-b403de0cfd9a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cf1e9468-889d-4534-a22a-22cb134f809c",
              "name": "file_id",
              "value": "={{ $('SET').item.json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        96
      ],
      "id": "981d5be5-87c5-4e9d-883c-1306f679ec35",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1088,
        688
      ],
      "id": "3e36a576-869c-428e-b50f-22fa390b6b71",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "4KXUtkMRJ9BmHtlq",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Document Storage & RAG Automation System (n8n)\n\n\nAn n8n automation that syncs files from Google Sheets, prevents duplicate documents, and automatically handles updates by removing outdated files and indexing the latest versions.\nThe system processes documents, stores them in a vector database, and enables Retrieval-Augmented Generation (RAG) for accurate AI-powered search and chat responses.",
        "height": 240,
        "width": 1072,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        544
      ],
      "typeVersion": 1,
      "id": "3b626d9e-809c-489e-9617-d0a6a215d395",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "LOADER",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "L0ADER",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "search",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET ROW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET ROW",
            "type": "main",
            "index": 0
          },
          {
            "node": "search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ROW": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CODE": {
      "main": [
        [
          {
            "node": "UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE": {
      "main": [
        [
          {
            "node": "SET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "SUPABASE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNLOAD": {
      "main": [
        [
          {
            "node": "TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET": {
      "main": [
        [
          {
            "node": "DOWNLOAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHUNKS": {
      "ai_embedding": [
        [
          {
            "node": "SUPABASE",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "LOADER": {
      "ai_document": [
        [
          {
            "node": "SUPABASE",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "SUPABASE": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SeT": {
      "main": [
        [
          {
            "node": "DOWNL0AD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE": {
      "main": [
        [
          {
            "node": "SeT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DRIVE-UPDATE": {
      "main": [
        [
          {
            "node": "DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOWNL0AD": {
      "main": [
        [
          {
            "node": "TEXTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXTT": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHUNKs": {
      "ai_embedding": [
        [
          {
            "node": "data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "CHNKSS": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "L0ADER": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "BRAIN": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MEMORY": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "data",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bf84bbf-1835-41ec-9210-f1c3424b5e2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "439ddf262cb6d4bc23638345742ff808861f469240a29d64ad035d247d5a6d76"
  },
  "id": "7bjcgC9ViCG5BR81",
  "tags": []
}